<!--PROFILE_START
{
    "name": "流推送接收demo0",
    "desc": "接收服务器转发的数据流并继续向下流动",
    "type": "input",
    "hash": "e80fdbd660108bd9a0dc415beabc93e19f6671814469a4158b5dc946cf5247e5",
    "id": 3
}
PROFILE_END-->
<div class="socket">
    <div>
        <button id="open-socket" class="in-btn in-btn-primary">连接</button>
        <input id="socket-desc" class="in-input in-cont" placeholder="输入描述符后连接" type="text">
    </div>
    <div>
        <button id="create-socket" class="in-btn">新建描述符</button>
    </div>
</div>

<style>
    .socket {
        background: #f0f2f5;
        padding: 8px;
    }

    .in-input {
        color: rgba(0, 0, 0, 0.65);
        background: #FFF;
        line-height: 1.5;
        height: 40px;
        padding-left: 10px;
        line-height: 40px;
        width: 200px;
    }

    .in-cont {
        border: 1px solid #d9d9d9;
        margin: 10px;
        border-radius: 4px;
    }

    .in-btn {
        cursor: pointer;
        border: none;
        margin: 10px;
        color: white;
        font-size: 14px;
        height: 40px;
        padding: 0 20px;
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.65);
        background: #FFF;
        border: 1px solid #d9d9d9;
    }

    .in-input:hover {
        border: 1px solid #1890ff;
        color: #1890ff;
        box-shadow: 0 0 4px;
        transition: all .3s;
    }

    .in-btn:hover {
        background: #1890ff;
        color: #FFF;
        transition: all .3s;
    }

    .in-btn-primary {
        background: #1890ff;
        color: #FFF;
    }

    .in-btn:focus {
        outline: none;
    }
</style>
<script>
    const openSocket = $('#open-socket');
    const socketDesc = $("#socket-desc");
    const createSocket = $("#create-socket");
    io.ondata = x => lc.push(x);
    openSocket.on('click', () => {
        if (openSocket.textContent === '连接') {
            io.initSocket(socketDesc.value)
                .then(() => {
                    openSocket.textContent = "已连接"
                    socketDesc.value = io.descriptor;
                })
                .catch(err => message.error(err.message))
        } else {
            io.disconnect();
            openSocket.textContent = "连接";
        }
    })
    createSocket.on('click', () => {
        io.createSocketDesc()
            .then(() => {
                socketDesc.value = io.descriptor;
                io.initSocket();
                openSocket.textContent = "已连接"
            })
            .catch(err => message.error(err.message))
    })

</script>